@model Product

<section class="bg-dark-subtle py-5">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-start">
                <h6 class="m-3">WELCOME TO BMERKETO PLANTS</h6>
                <h1 class="m-3">@Model.Name</h1>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="m-3 btn btn-danger">SHOP NOW</a>
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-fluid" src="@Model.ImgUrl" alt="Product Image">
            </div>
        </div>
    </div>
</section>
