<section class="bg-white">
    <div class="container">
        <div class="d-flex justify-content-between">
            <nav class="nav">
                <a class="nav-link fw-bolder fs-4 text-dark" asp-controller="Home" asp-action="Index">bmerketo</a>
            </nav>
            <nav class="nav">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Product" asp-action="AllProducts" class="nav-link text-dark">Products</a>
                <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index">Contact</a>
                
                <partial name="_LoginPartial" />
            </nav>           
        </div>        
    </div>
</section>
